# SPDX-FileCopyrightText: Moritz Bruder <muesli4 at gmail dot com>
#
# SPDX-License-Identifier: LGPL-3.0-or-later

.deps
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
libwtk-sdl2-*.tar.gz
libwtk-sdl2-git-*.pkg.tar
libwtk-sdl2.pc
ltmain.sh
m4/
missing
src/.libs/
